[follow "diff"]
	mode = colorsxs
[follow "log"]
	format = "%C(bold cyan)%h%Creset (%C(bold magenta)%t%Creset) - %s - %C(bold blue)%an%Creset <%C(bold yellow)%ae%Creset> [%C(bold green)%cr%Creset]"
[follow "pager"]
	disable = false
